.main {
  height: 100vh;
  overflow: hidden;
}

.slant {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & {
    transform: rotate(-10deg);
  }

  & h1 {
    line-height: 1em;
    color: var(--dimAqua);
  }

  @media only screen and (max-width: 480px) {
    align-items: unset;
    padding-left: 15vw;
  }
}

.line {
  background-color: var(--dimRed);
  height: 5px;
}

.intro {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 20vw;
  gap: 1em;

  & h1 {
    font-size: 5vw;
    justify-self: left;
    width: fit-content;
  }

  & div {
    display: flex;
    align-items: center;

    & .line {
      width: 25vw;
    }
  }

  @media only screen and (max-width: 480px) {
    margin-left: 0px;

    & h1 {
      font-size: 14vw;
    }
  }
}

.name {
  font-size: 15vw;

  @media only screen and (max-width: 480px) {
    font-size: 27vw;
  }
}

.social {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1vw;
  padding-left: 30vw;

  & .line {
    width: 33vw;
    margin-top: 5px;
  }

  & ul {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: end;
    list-style: none;
  }

  @media only screen and (max-width: 480px) {
    padding-left: 0;

    & .line {
      width: 50vw;
    }

    & ul {
      gap: 1.5vw;
    }
  }
}
