.main {
  height: 100vh;
  overflow: hidden;
}

.gay {
  background-image: linear-gradient(
    to right,
    rgb(7, 141, 111),
    rgb(152, 202, 153),
    rgb(255, 255, 255) 45%,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 55%,
    rgb(205, 208, 234),
    rgb(123, 173, 226) 70%,
    rgb(69, 76, 189),
    rgb(63, 26, 121)
  );
  width: fit-content;
}

.enby {
  background-image: linear-gradient(
    90deg,
    rgba(225, 194, 105, 1) 25%,
    rgba(218, 209, 210, 1) 50%,
    rgba(163, 92, 177, 1) 75%,
    rgba(46, 42, 41, 1) 100%
  );
}

.slant {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & {
    transform: rotate(-10deg);
  }

  & h1 {
    line-height: 1em;
    color: var(--dim-aqua);
  }

  @media only screen and (max-width: 480px) {
    align-items: unset;
    padding-left: 15vw;
  }
}

.line {
  background-color: var(--dim-red);
  height: 5px;
  border-radius: 32px;
}

.intro {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 20vw;
  gap: 1em;

  & h1 {
    font-size: 5vw;
    justify-self: left;
    width: fit-content;
  }

  & div {
    display: flex;
    align-items: center;

    & .line {
      width: 25vw;
    }
  }

  @media only screen and (max-width: 480px) {
    margin-left: 0px;

    & h1 {
      font-size: 14vw;
    }
  }
}

.name {
  font-size: 15vw;

  @media only screen and (max-width: 480px) {
    font-size: 27vw;
  }
}

.social {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1vw;
  padding-left: 30vw;

  & .line {
    width: 33vw;
    margin-top: 5px;
  }

  & ul {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: end;
    list-style: none;
  }

  @media only screen and (max-width: 480px) {
    padding-left: 0;

    & .line {
      width: 50vw;
    }

    & ul {
      gap: 1.5vw;
    }
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes bounceIn {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  @media screen and not (prefers-reduced-motion) {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
  }
}
