.card_container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 3px;
  border-radius: 1rem;
  border-color: #e91e63;
  box-shadow: 0 6px 8px 0 rgba(233, 30, 99, 0.2);
}

.card_container:hover {
  box-shadow: 0 8px 8px 0 rgba(233, 30, 99, 0.3);
}

.card_container > * {
  padding-left: 1em;
  margin-right: 1em;
}

.card_header {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.card_footer {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  margin-top: auto;
}

.card_header svg {
  height: 20px;
  width: 20px;
}

.repo_lang_color {
  width: 16px;
  height: 16px;
  border: 1px;
  border-radius: 50%;
  border-width: 1px;
}
