.navbar {
  display: flex;
  padding: 0 10vw;
}

.nav_link {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  position: relative;
}

.nav_underline {
  height: 2px;
  width: 100%;
  border-color: rgba(222, 211, 255);
  border-width: 1px;
  border-style: solid;
}