.main {
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  flex-direction: row;
  gap: 7vw;
  margin-left: 30vw;
  font-size: 24px;
}

.avatar {
  height: 256px;
  width: 256px;
  border-radius: 128px;
}

.header {
  color: whitesmoke;
  width: fit-content;
  font-size: 3em;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.text_container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.social_link {
  background-color: hsl(167, 91%, 29%);
  border-radius: 2em;
  padding: 0.25em 0.75em
}

.social_link:hover {
  background-color: hsl(167, 91%, 15%);
}

.gay {
  background: linear-gradient(
    to right,
    rgb(7, 141, 111),
    rgb(152, 202, 153),
    rgb(255, 255, 255) 45%,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 55%,
    rgb(205, 208, 234),
    rgb(123, 173, 226) 70%,
    rgb(69, 76, 189),
    rgb(63, 26, 121)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.social_icon {
  width: 64px;
  height: 64px;
}

.socials_container {
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  padding-top: 5vh;
}

.social_wrapper {
  display: flex;
  gap: 5px;
}

@media (max-width: 800px) {
  .main {
    display: grid;
    align-items: center;
  }


  .wrapper {
    padding-top: 5%;
    margin: auto;
    flex-direction: column;
    font-size: 16px;
    justify-self: center;
  }

  .text_container {
    width: 70vw;
  }

  .header_wrapper {
    display: unset;
  }

  .social_link {
    font-size: 15px;
  }
}

/* This is a fix to a weird issue wherein 800 ~< x ~< 1600 width, the I'm gets newlined instead of staying on the same line*/
@media (max-width: 1600px) {
  .header_wrapper {
    display: unset;
  }
}