.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.avatar {
    border-radius: 50%;
    margin-top: 32px;
    height: 256px;
    width: 256px;
}

.title {
    font-size: 5vw;
    line-height: 0;
}