.grid_container {
  display: grid;
  padding: 5vh 10vw;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
}

@media only screen and (max-width: 768px) {
  .grid_container {
    grid-template-columns: 1fr;
  }
}
